*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

@font-face {
    font-family: 'Core Sans C';
    src:url("../fonts/CoreSansC-45Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    -webkit-animation: bugfix infinite 1s;
    text-rendering: auto;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    margin: 0;
    padding: 0;
    line-height: inherit;
}

a {
    color: unset;
}

a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
    outline: none;
}

button:active,
input:active,
a:active,
textarea:active {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    object-fit: contain;
}

button {
    color: inherit;
    text-align: inherit;
    text-rendering: auto;
    padding: 0;
    background-color: inherit;
}

input {
    margin: 0;
    padding: 0;
    cursor: text;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

select, option {
    background: indigo;
}

select:focus {
    outline: none;
}

select, option :hover {
    cursor: pointer;
}

body {
    min-width: 23.4375rem;
    max-height: 60rem;
    max-width: 105rem;
    background-size: cover;
}

@media (max-width: 1680px) {
    .container {
        max-width: 100rem;
    }
}

@media (max-width: 375px) {
    .body {
        max-height: 38.4375rem;
    }
    .container {
        width: 21.25rem;
        margin: 0 auto;
    }
    .header .header-wrap {
        margin-top: 1.25rem; 
    }
    .phone {
        display: none;
    }

    .shedule {
        display: none;
    }
    .contact-info .phone__logo {
        position: absolute;
        display: block;
        margin-top: 0.375rem;
        margin-left: 4rem;
    }
    .header .menu {
        height: 2.375rem;
    }
    .menu li {
        display: none;
    }
    .menu .burger-menu {
        width: 2.375rem;
        margin-top: 1.125rem;
    }  
    .hero-logo,
    .hero .districts,
    .hero .bg-switches {
        display: none;
    }
    .hero__wrapper .slogan {
        font-size: 1.625rem;
        line-height: 1.9375rem;
        margin-left: 0rem;
        margin-top: 1.875rem;
    }
    .hero-bottom {
        margin-top: -1.25rem;
    }

    .hero-bottom .network-logo {
        display: none;
    }
    .hero-bottom .order {
        position: relative;
        flex-direction: column;
        margin-left: 0;
        margin-top: -1.0625rem;
    }
    .hero-bottom .buy-button {
        width: 9.625rem;
        height: 2.5rem;
    }
    .hero-bottom .order-button {
        width: 9.625rem;
        height: 2.5rem;
        font-size: 0.75rem;
        line-height: 1.6;
    }
    .order-button .br {
        margin-left: 0.5625rem;
        font-size: 0.5625rem;
    }
    .hero-bottom .order-link {
        margin-left: -11.375rem;
        margin-top: 1.875rem;
        font-size: 0.75rem;
        line-height: 1;
    }
    .order .order-img {
        display: block;
        position: absolute;
        right: -1.125rem;
    }
    .footer {
        position: absolute;
        height: 6.25rem;
        top: 11.25rem;
    }
    .footer .filters-wrap {
        display: none;
    }
    .footer .footer-input {
        display: block;
    }
}

.bg-wrap {
    overflow: hidden;
}

.bg-inner {
    width: 200%;
    display: flex;
    transition: 1s all;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}


.bgvideo-2 { 
    right: 0;
    left:auto;
    height: auto;
    width: auto;
    transform: translateX(100%); 
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

/* header */

.header-wrap{
    margin-top: 2.125rem;
    height: 2.9375rem;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
}

.header .logo {
    margin-left: -0.875rem;
}

.contact-info {
    margin-left: -4.1875rem;
}

.phone {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4375;
    letter-spacing: -0.03rem;
}

.phone__logo {
    display: none;
    width: 2.25rem;
    height: 2.25rem;
}

.shedule{
    opacity: 0.5;
}

.menu {
    display: flex;
    overflow: hidden;
    height: 1.25rem;
}

.menu ul {
    display: flex;
    flex-direction: row;
    margin-right: 2.375rem;
}

.menu li:not(:last-child) {
    margin-right: 1.25rem;
}

.menu a {
    overflow: hidden;
}

.menu a:hover span{
    transform: translateY(-100%);
  }
  
.menu span {
    position: relative;
    display: inline-block;
    transition: 0.3s;
  }
  
.menu span::before {
    overflow: visible;
    color: #FFFFFF;
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0,0,0);
    opacity: 0.7;
}

.burger-menu {
    width: 3rem;
    height: 0.625rem;
    border-top: 0.125rem solid #FFFFFF;
    border-bottom: 0.125rem solid #FFFFFF;
    margin-top: 0.3125rem;
}

.burger-menu:hover {
    cursor: pointer;
}

/* hero */

.hero__wrapper{
    display: flex;
    flex-direction: row;
}

.hero-logo {
    height: 9.875rem;
    width: 12.125rem;
    height: 3.4375rem;
    margin-top: 6.4375rem;
    margin-left: -2.5rem;
}

.districts {
    width: 19.5625rem;
    display: flex;
    margin-left: 15.875rem;
    margin-top: 6.4375rem;
    z-index: 2;
}

.districts li {
    text-decoration: underline;
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
}

.districts li:not(:last-child) {
    margin-bottom: 0.6875rem;
}

.districts li:hover {
    opacity: 1;
}

.first-column {
    width: 10.625rem;
    margin-right: 2.75rem;
}

.second-column {
    width: 7.5rem;
}

.bg-switches {
    display: flex;
    margin-left: 12.5625rem;
    margin-top: 7rem;
}

.switch:hover {
    cursor: pointer;
}

.right {
    margin-left: 2.3125rem;
}

.main .container {
    position: relative;
}

.slogan {
    font-size: 2.5rem;
    line-height: 1.175;
    letter-spacing: -0.02em;
    margin-top: 5.9375rem;
    margin-left: 2.8125rem;
}

.hero-bottom {
    margin-top: 3.0625rem;
}

.network-logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
}

.network-logo a:not(:last-child) {
    margin-bottom: 1.875rem;
}

.network-logo a:hover {
    opacity: 0.7;
}

.facebook {
    width: 0.625rem;
    height: 1.25rem;
}

.instagram {
    width: 1.25rem;
    height: 1.25rem;
}

.twitter {
    width: 1.3075rem;
    height: 1.0625rem;
}

.vk {
    width: 1.2063rem;
    height: 0.6875rem;
}

.order {
    margin-left: 64.125rem;
    display: flex;
}

.buy-button {
    width: 13.125rem;
    height: 3.5rem;
    margin-right: 1.875rem;
}

.order-button {
    width: 13.125rem;
    height: 3.5rem;
    box-sizing: border-box;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 0.4375rem;
    padding-left: 1.0313rem;
    background-color: inherit;
    font-size: 1rem;
    line-height: 1.1875;
}

.br {
    margin-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.1875;
}

.order-link {
    align-self: center;
    font-size: 1rem;
    line-height: 1.1875;
}

.order-img {
    display: none;
    width: 3.625rem;
    height: 3.4375rem;
}

.link-symbol {
    margin-left: 0.0625rem;
}

/* footer */

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 22.375rem;
    width: 100%;
    height: 10rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.15);;
}

.filters-wrap {
    display: flex;
    padding-top: 2.1875rem;
}

.filter {
    margin-right: 1.25rem;
}

.filter-header {
    font-size: 0.8125rem;
    line-height: 1;
}

.buttons {
    margin-top: 0.875rem;
    background: rgba(255, 255, 255, 0.16);
}

.buttons :not(:first-child){
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-left: 0.0625rem solid #FFFFFF;
    margin-left: -0.3125rem;
}

.buttons:last-child {
    border-top-right-radius: 0.4375rem;
    border-bottom-right-radius: 0.4375rem;
}

.studio {
    width: 5.625rem;
    height: 3.5rem;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    border-top-left-radius: 0.4375rem;
    border-bottom-left-radius: 0.4375rem;
}

.active {
    color: #171723;
    background-color:  #FFFFFF;
    transition: 0.3s all;
}

.inputs {
    margin-top: 0.875rem;
}

.input__text-type {
    display: flex;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 0.4375rem;
    width: 16.875rem;
    height: 3.5rem;
}

.input-wrap {
    display: flex;
}

.input-wrap span {
    padding-left: 0.9375rem;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    opacity: 0.4;
}

.input-wrap input {
    width: 6.375rem;
    background-color: inherit;
    padding-left: 0.1875rem;
    font-size: 1rem;
    line-height: 1;
    color: #FFFFFF;
}

.input-wrap input:first-child {
    border-right: 0.0625rem solid #FFFFFF;
}

.input__range-type  {
    justify-self: center;
}

.select {
    width: 16.875rem;
    height: 3.5rem;
    padding-left: 0.875rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 0.4375rem;
    font-family: 'Core Sans C';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1;
    margin-top: 1.6875rem;
}

.select:hover {
    cursor: pointer;
}

.footer-button {
    display: flex;
    width: 7.9375rem;
    height: 3.5rem;
    border: 0.0625rem solid #FFFFFF;
    border-radius: 0.4375rem;
    background-color: inherit;
    font-size: 0.8125rem;
    line-height: 130.3%;
    
    padding-top: 0.75rem;
}

.setting-img {
    margin-left: 1.1875rem;
    margin-right: 0.9375rem;
    margin-top: 0.4375rem;    
}

.show-button {
    width: 14rem;
    height: 3.5rem;
    background: #D90002;
    border-radius: 0.4375rem;
    text-align: center;
    margin-top: 1.6875rem;
    transition: 0.2s;
}

.show-button:hover {
    opacity: 0.8;
}

.polzunok-container {
    width: 11.25rem;
    margin-left: 2.8125rem;
}

.polzunok-container * {
    box-sizing: border-box;
    outline: none;
}

.polzunok-container:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container .ui-slider {
    position: relative;
    background: #FFFFFF;
    height: 0.1875rem;  
    border-radius: 0.1875rem;
}
.polzunok-container .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -0.6563rem;
    width: 1.3125rem;
    height: 1.3125rem;
    cursor: pointer;
    border-radius: 50%;
    border: 0.25rem solid #D90002;
    top: -0.6563rem;
    background: #D90002;
    z-index: 2;
}

.polzunok-container .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 0.1875rem;  
    border-radius: 0.1875rem;
    border: 0;
    background: #D90002;
}

.overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    transition: 0.3s all;
}

.description {
    position: absolute;
    left: 28rem;
    top: 22.8125rem;
    width: 23.3125rem;
    transition: 0.3s all; 
    z-index: 1000;   
}

.description img {
    height: 14.4375rem;
}

.description-header {
    font-size: 1rem;
    line-height: 1.1875;
    color: #FFFFFF;
    margin-top: 1.0625rem;
    margin-bottom: 0.5625rem;
}

.description-info {
    font-size: 1rem;
    line-height: 1.1875;
    color: #FFFFFF;
    opacity: 0.5;
}

.button button {
    position: relative;
    z-index: 1;
}

.button button:before {
    content:"";
    display: block;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 0%;
    height: 0%;
    z-index: -1;
    border-top-right-radius: 0.4375rem;
}

.button button:hover:before{
    position: absolute;
    right: -0.0625rem;
    top: -0.0625rem;
    left: auto;
    bottom: auto;
    width: 51%;
    height: 55%;
    background: #FFFFFF  ; 
    transition: 0.3s all;
}

.button button:after {
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    z-index: -1;
    border-bottom-right-radius: 0.4375rem;
}

.button button:hover:after{
    position: absolute;
    bottom: -0.0625rem;
    right: -0.0625rem;
    left: auto;
    width: 51%;
    height: 55%;
    background: #FFFFFF; 
    transition: 0.3s all;
}

.button button:hover {
    cursor: pointer;
    color: #171723;
}


.button {
    position: relative;
    z-index: 2;
}

.button:before {
    content:"";
    display: block;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 0%;
    height: 0%;
    z-index: 0;
    border-top-left-radius: 0.4375rem;

}

.button:hover:before{
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 50%;
    height: 55%;
    background: #FFFFFF; 
    transition: 0.3s all;
}

.button:after {
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 0%;
    z-index: 0;
    border-bottom-left-radius: 0.4375rem;

}

.button:hover:after{
    position: absolute;
    bottom: 0%;
    right: 0%;
    right: auto;
    width: 50%;
    height: 50%;
    background: #FFFFFF; 
    transition: 0.3s all;
}

.foot-button {
    width: 7.9375rem;
    height: 3.5rem;
    margin-left: 1.5625rem;
    margin-right: 1.25rem;
    margin-top: 1.6875rem;
}

.footer-input {
    display: none;
}
.footer-input-wrapper {
    margin-top: 1.5625rem;
    position: relative;
    width: 21.25rem;
    display: flex;
    height: 3.125rem;
}

.footer-input-wrapper input{
    width: 100%; 
    background: rgba(255, 255, 255, 0.3);
    padding-left: 1.25rem;
    border-radius: 0.4375rem;
    font-size: 0.875rem;
    line-height: 1;
    color: #FFFFFF;
}

.footer-input-wrapper input::placeholder {
    font-size: 0.875rem;
    line-height: 1;
    color: #FFFFFF;
}

.footer-input-wrapper img {
    position: absolute;
    right: 1.0625rem;
    align-self: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10.625rem;
    left: 43.125rem;
    position: relative;
}

.modal-window {
    background: #FFFFFF;
    border-radius: 10px;
    height: 300px;
    width: 500px;
}

.modal-header {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.5rem;
    line-height: 1;
    color: #171723;
}

.modal-window ul {
    margin-left: 4.3rem;
    color: #171723;
}

.modal-window li {
    font-size: 1rem;
    line-height: 1;
    margin-top: 1.5rem;
    color: #171723;
}

.modal-button{
    margin-top: -70px;
    margin-left: 150px;
    
}

.modal-button button {
    text-align: center;
    background: linear-gradient(94.26deg, #C89AFC, #7C6AFA 90.23%);
    width: 12.5rem;
    height: 3.125rem;
    color: #FFFFFF;
}